ipython==9.3.0
matplotlib==3.10.3
numpy==2.3.0
pillow==11.2.1
scikit-image==0.25.2
scipy==1.15.3
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tqdm==4.67.1
types-tqdm==4.67.0.20250516
types-setuptools==80.9.0.20250529
yacs==0.1.8
ray[data,train,tune]==2.47.0
tensorboard==2.19.0
networkx==3.5
types-networkx==3.5.0.20250610
scikit-learn==1.7.0
