MODEL:
  class_path: 'src.model.unet.UNet'
  KWARGS:
    num_in_channels: 3
    num_out_channels: 3
    dims: [8, 32, 64, 64, 128, 128]
    depth: 2

TRAIN:
  COMPILE: True
  CUDNN_BENCHMARK: False
  LR_SCHEDULER:
    class_path: 'src.utils.CosineToConstantLR'
    KWARGS:
      T_max: 10000
      eta_min_divisor: 10.0
  STOPPER:
    class_path: 'src.utils.EarlyStopper'
    KWARGS:
      metric: 'val_loss'
      patience: 1
      delta: 0
  OPTIMIZER:
    class_path: 'torch.optim.AdamW'
    KWARGS:
      lr: 0.001
  MIXED_PRECISION_SCALER:
    class_path: 'torch.amp.GradScaler'
    KWARGS: {}
  CRITERION:
    class_path: 'src.loss.loss.WeightedDiceLoss'
    KWARGS:
      alpha: 1.0
  KWARGS:
    epochs: 50
    metrics: []
    device: 'cuda:0'
    metrics:
      -
        class_path: 'src.loss.loss.MulticlassBinaryCrossEntropyLoss'
        fit: false
        KWARGS: {}
      -
        class_path: 'src.loss.loss.MulticlassBinaryDiceLoss'
        fit: false
        KWARGS: {}
      -
        class_path: 'src.loss.loss.MulticlassBinaryDiceLoss'
        fit: false
        KWARGS:
          union_exponent: 2.0

HYPERPARAMETER_SEARCH:
  SEARCH_SPACE:
    TRAIN:
      OPTIMIZER:
        KWARGS:
          lr:
            SAMPLE_TYPE: 'ray.tune.grid_search'
            KWARGS:
              values: [1e-3, 1e-4]
      CRITERION:
        class_path:
          SAMPLE_TYPE: 'ray.tune.grid_search'
          KWARGS:
            values: ['src.loss.loss.WeightedDiceLoss', 'src.loss.loss.WeightedDiceLossSquared', 'src.loss.loss.WeightedCrossEntropyLoss']
        KWARGS:
          alpha:
            SAMPLE_TYPE: 'ray.tune.grid_search'
            KWARGS:
              values: [1.0, 2.0]

DATALOADER:
  class_path: 'torch.utils.data.DataLoader'
  KWARGS:
    batch_size: 1
    shuffle: False
    num_workers: 2
    pin_memory: True
    pin_memory_device: 'cuda:0'
    prefetch_factor: 2

DATASET:
  class_path: 'src.dataset.ecg_scan.ECGScanDataset'
  KWARGS: {}
  TRAIN:
    KWARGS:
      ecg_scan_path: '/data/generated_images/transformed/scans/train'
      ecg_mask_path: '/data/generated_images/transformed/scans/train'
  VAL:
    KWARGS:
      ecg_scan_path: '/data/generated_images/transformed/scans/val'
      ecg_mask_path: '/data/generated_images/transformed/scans/val'
  TEST:
    KWARGS:
      ecg_scan_path: '/data/generated_images/transformed/scans/test'
      ecg_mask_path: '/data/generated_images/transformed/scans/test'
