MODEL:
  class_path: 'src.model.unet.UNet'
  KWARGS:
    in_chans: 3
    out_channel: 3
    dims: [8, 32, 64, 64, 128, 128]
    depths: [2, 2, 2, 2, 2, 2]

TRAIN:
  COMPILE: True
  CUDNN_BENCHMARK: False
  OPTIMIZER:
    class_path: 'torch.optim.AdamW'
    KWARGS:
      lr: 0.0003
  MIXED_PRECISION_SCALER:
    class_path: 'torch.amp.GradScaler'
    KWARGS: {}
  CRITERION:
    class_path: 'src.loss.loss.WeightedDiceLoss'
    KWARGS:
      alpha: 1.0
  KWARGS:
    epochs: 10
    metrics: []
    device: 'cuda:0'
    metrics:
      -
        class_path: 'src.loss.loss.MulticlassBinaryCrossEntropyLoss'
        fit: false

HYPERPARAMETER_SEARCH:
  SCHEDULER:
    class_path: 'ray.tune.schedulers.ASHAScheduler'
    KWARGS:
      metric: 'val_loss'
      mode: 'min'
      max_t: 3000
      grace_period: 20
      reduction_factor: 4
  SEARCH_SPACE:
    MODEL:
      KWARGS:
        dims:
          SAMPLE_TYPE: 'ray.tune.grid_search'
          VALUES: [[8, 32, 64, 64, 128, 128]]
        depths:
          SAMPLE_TYPE: 'ray.tune.grid_search'
          VALUES: [[2, 2, 2, 2, 2, 2]]

DATALOADER:
  class_path: 'torch.utils.data.DataLoader'
  KWARGS:
    batch_size: 1
    shuffle: False
    num_workers: 3

DATASET:
  class_path: 'src.dataset.ecg_scan.ECGScanDataset'
  KWARGS: {}
  TRAIN:
    KWARGS:
      ecg_scan_path: '/data/ecg_dataset/ecg_scans/train_transformed'
      ecg_mask_path: '/data/ecg_dataset/ecg_masks/train_transformed'
      load_n: 50
  VAL:
    KWARGS:
      ecg_scan_path: '/data/ecg_dataset/ecg_scans/val_transformed'
      ecg_mask_path: '/data/ecg_dataset/ecg_masks/val_transformed'
      load_n: 3
  TEST:
    KWARGS:
      ecg_scan_path: '/data/ecg_dataset/ecg_scans/test'
      ecg_mask_path: '/data/ecg_dataset/ecg_masks/test'
      load_n: 1
