name: Lint python
on: [push]
jobs:
  lint:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
      with:
        python-version: '3.12'
    - name: Install flake8
      run: |
        python3.12 -m pip install flake8
        echo "PATH=$PATH:~/.local/bin" >> $GITHUB_ENV
    - name: Lint python
      run: flake8 .
    - uses: psf/black@stable
      with:
        options: "--check --verbose"
        src: "."
        jupyter: false
        version: "25.1.0"
